<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center justify-around h-screen">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Măceș Andrei
            </h1>
            <p class="mb-8 leading-relaxed">Frontend Developer</p>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="https://pps.whatsapp.net/v/t61.24694-24/309064628_1159940538210931_4915482062007965736_n.jpg?ccb=11-4&oh=01_AdRLED1htj7qjiom4scadaB8foWsIa2eNyvLrhnuM1zVEA&oe=6450C185">
          </div>
        </div>
      </section>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">My projects</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">As the time passes I accuire more knowledge and I like to reflect this my skills in my projects.</p>
          </div>
          <div class="flex flex-wrap">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">RTMC</h2>
              <p class="leading-relaxed text-base mb-4">This is a project built with angular and bootstrap 3.</p>
              <a class="text-indigo-500 inline-flex items-center" href="https://RTMC.macesandrei.com">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Catfact</h2>
              <p class="leading-relaxed text-base mb-4">This is a project built with angular in which I learned how to simple stuff doesn't have to be boring.</p>
              <a class="text-indigo-500 inline-flex items-center" href="https://catfact.macesandrei.com">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Bacxvia</h2>
              <p class="leading-relaxed text-base mb-4">This project is not made with a framework, the entire codebase is built from scratch. It takes a while to load because of the Latex that it is being compiled on the page.</p>
              <a class="text-indigo-500 inline-flex items-center" href="https://bacxvia.macesandrei.com">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
              <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">YelpCamp</h2>
              <p class="leading-relaxed text-base mb-4">This is a project that I created after watching a course on udemy called "The web developer bootcamp" in which I learned how to create an MVC application with nodeJS and express.</p>
              <a class="text-indigo-500 inline-flex items-center" href="https://yelpcamp.macesandrei.com">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
